<header class="header">
	<div class="header__body container">
		<a href="" class="header__logo" aria-label="На главную">
			<picture>
				<source media="(max-width: 1200px)" srcset="{{ header_logo_brand }}">
				<img src="{{ header_logo }}" width="78" height="90" alt="Logo">
			</picture>
		</a>
		<nav class="header__menu menu">
			<div class="menu__icon">
				<span></span>
			</div>
			<div class="menu__body">
				<div class="menu__logo">
					<img src="img/logo.png" width="78" height="90" alt="logo">
				</div>
				<div class="menu__btn">
					<button type="button" class="btn open-popup" data-popup="request-popup">Заказать звонок</button>
				</div>
				{% if header_menu %}
					<ul class="menu__list">
						{% for item in header_menu.items %}
							<li class="menu__item">
								<a href="{{ item.url }}" class="menu__link">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if phone %}
					<a href="{{ phone.url }}" class="header__phone">
						<svg>
							<use xlink:href="{{ theme.link }}/assets/img/icons/icons.svg#icon-phone"></use>
						</svg>
						{{ phone.title }}
					</a>
				{% endif %}
				{% if socials %}
					<div class="menu__socials">
						{% for item in socials %}
							<a href="{{ item.link.url }}" class="menu__social" aria-label="{{ item.link.title }}">
								<img src="{{ item.icon }}" width="49" height="49" alt="{{ item.link.title }}">
							</a>
						{% endfor %}
					</div>
				{% endif %}

				<div class="menu__copyright">
					&copy;
					{{ "now"|date("Y") }}
					Шатилов Консалтинг.
					<br>
					Все права защищены.
				</div>
				<div class="particles-js"></div>
			</div>
		</nav>
	</div>
</header>
