{% if ecosystem_posts %}
	<section class="services services_four" id="ecosystem">
		<div class="services__body container section-padding">
			<h2 class="services__title section-title">
				{{ ecosystem.title }}
			</h2>
			<div class="services__subtitle section-subtitle">
				{{ ecosystem.subtitle }}
			</div>
			<div class="services__cards">
				{% for item in ecosystem_posts %}
					<div class="services__card" id="{{ item.slug }}">
						<div class="services__cards-top">
							<div class="services__card-title">
								<img src="{{ item.thumbnail }}" width="40" height="40" alt="icon">
								{{ item.title }}
							</div>
							<div class="services__card-descr">
								{{ item.content|excerpt(10) }}
							</div>
						</div>
						<div class="services__card-bottom">
							{% if item.ecosystem.link %}
								<a class="services__card-link" href="{{ item.ecosystem.link.url }}" target="{{ item.ecosystem.link.target }}">
									Узнать подробнее
									<svg>
										<use xlink:href="{{ theme.link }}/assets/img/icons/icons.svg#icon-chevron-right"></use>
									</svg>
								</a>
							{% else %}
								<a class="services__card-link" href="{{ item.link }}">
									Узнать подробнее
									<svg>
										<use xlink:href="{{ theme.link }}/assets/img/icons/icons.svg#icon-chevron-right"></use>
									</svg>
								</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
