{% extends "layout.twig" %}
{% block content %}
	<main>
		<section class="not-found">
			<div class="particles-js"></div>
			<div class="not-found__img">
				<img src="{{ theme.link }}/assets/img/404.png" alt="404"></div>
			<div class="container not-found__container">
				<div class="not-found__content">
					<h1 class="not-found__title">404</h1>
					<h3 class="not-found__subtitle">Страница не найдена —
																																																																																																																	но решение для вашего бизнеса есть
					</h3>
					<p class="not-found__text">Возможно, ссылка устарела или была введена с ошибкой.
																																																																																																																	Вы можете вернутся на главную страницу или оставить заявку на консультации.
					</p>
					<div class="not-found__actions">
						<button class="btn open-popup" data-popup="request-popup">Получить консультацию →
						</button>
						<a href="{{ site.url }}" class="btn">На главную →</a>
					</div>
				</div>
				<div class="not-found__contacts">
					<p class="not-found__contacts-text">Или свяжитесь с нами напрямую:</p>
					<div class="not-found__contacts-links">
						<a href="{{ phone.url }}">
							<img src="{{ theme.link }}/assets/img/icons/phone-circle.svg" alt="phone">
							{{ phone.title }}</a>
						<a href="{{ whatsapp }}">
							<img src="{{ theme.link }}/assets/img/wa.svg" alt="phone">

							Написать в WhatsApp</a>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
